body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

input {
  display: none;
}

.accordion {
  width: 60%;
  background-color: aqua;
  padding: 1em;
  cursor: pointer;
}

label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

img {
  align-self: center;
  width: 0rem;
  height: 0rem;
  cursor: pointer;
  transform: scale(0);
  transition: all 1s ease;
}

label:hover img { 
  width: 16rem;
  height: 16rem;
  transform: scale(0.9);
}

input:checked + label img {
  width: 17rem;
  height: 17rem;
  transform: scale(1);
}

input:checked + label img:hover {
  transform: scale(1.05);
}

.meme-heading {
  font-size: 24px;
}

.label-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plus-cross {
  width: 1rem;
  height: 1rem;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.6s ease;
}

.plus-cross:hover {
  transform: rotate(45deg);
}

input:checked + label .plus-cross {
  transform: rotate(45deg);
}

label:hover .plus-cross {
  transform: rotate(45deg);
}

.accordion:hover .plus-cross{
  opacity: 1;
}